In [33]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('state_policy_updates_20200925_0346.csv')

In [7]:
df.shape

(2501, 10)

In [9]:
df_state = df[df.policy_level == 'state']

In [11]:
df_state.policy_type.value_counts()

Shelter in Place                                                        101
Food and Drink                                                           98
Non-Essential Businesses                                                 96
Gyms                                                                     94
Modify Medicaid Requirements With 1135 Waivers Date Of CMS Approval      51
State of Emergency                                                       51
Childcare (K-12)                                                         50
Entertainment                                                            50
Allow Expand Medicaid Telehealth Coverage                                50
Allow Audio Only Telehealth                                              48
Mandate Face Mask Use By All Individuals In Public Facing Businesses     45
Resumed Elective Medical Procedures                                      36
Mandate Face Mask Use By All Individuals In Public Spaces                35
Suspended Elective Medical Dental Procedures                             33
Order Freezing Utility Shut Offs                                         33
Stop Initiation Of Evictions Overall Or Due To Covid Related Issues      31
Nursing Homes                                                            31
Stop Enforcement Of Evictions Overall Or Due To Covid Related Issues     30
Day Care                                                                 15
Reopened ACA Enrollment Using a Special Enrollment Period                12
Renter Grace Period Or Use Of Security Deposit To Pay Rent                3
Phase 2                                                                   2
Froze Mortgage Payments                                                   1
Name: policy_type, dtype: int64

In [12]:
df_mask = df_state[(df_state.policy_type == 'Mandate Face Mask Use By All Individuals In Public Facing Businesses') | 
                  (df_state.policy_type == 'Mandate Face Mask Use By All Individuals In Public Spaces ')]

In [18]:
df_mask.head()

,state_id,county,fips_code,policy_level,date,policy_type,start_stop,comments,source,total_phases
61,AR,NaN,NaN,state,2020-05-11,Mandate Face Mask Use By All Individuals In Pu...,start,Other measures and details for this policy inc...,BU COVID-19 State Policy Database,NaN
132,NM,NaN,NaN,state,2020-05-06,Mandate Face Mask Use By All Individuals In Pu...,start,Other measures and details for this policy inc...,BU COVID-19 State Policy Database,NaN
156,DC,NaN,NaN,state,2020-04-15,Mandate Face Mask Use By All Individuals In Pu...,start,Other measures and details for this policy inc...,BU COVID-19 State Policy Database,NaN
165,WY,NaN,NaN,state,2020-05-01,Mandate Face Mask Use By All Individuals In Pu...,start,Other measures and details for this policy inc...,BU COVID-19 State Policy Database,NaN
239,CO,NaN,NaN,state,2020-04-23,Mandate Face Mask Use By All Individuals In Pu...,start,Other measures and details for this policy inc...,BU COVID-19 State Policy Database,NaN

In [19]:
df_mask['date'] = pd.to_datetime(df_mask['date'])

<ipython-input-19-962fb4974376>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mask['date'] = pd.to_datetime(df_mask['date'])

In [21]:
to_drop = ['county', 'fips_code', 'policy_level', 'policy_type', 'start_stop', 'comments', 'source', 'total_phases']
df_mask.drop(to_drop, axis = 1, inplace = True)

C:\Users\Singh\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
df_mask.head()

     state_id       date
61         AR 2020-05-11
132        NM 2020-05-06
156        DC 2020-04-15
165        WY 2020-05-01
239        CO 2020-04-23
289        LA 2020-05-01
329        NV 2020-05-09
394        GA 2020-04-27
630        RI 2020-04-18
656        AK 2020-04-24
710        OR 2020-05-09
714        NC 2020-06-26
749        VT 2020-04-17
773        HI 2020-06-10
826        WA 2020-05-04
850        PA 2020-04-19
855        OH 2020-04-29
859        UT 2020-04-10
891        CA 2020-05-05
940        NE 2020-05-04
964        NY 2020-04-17
977        ND 2020-04-28
1016       IN 2020-05-01
1055       NH 2020-05-01
1269       MT 2020-07-15
1343       SC 2020-08-03
1394       DE 2020-05-01
1439       WV 2020-05-04
1668       MD 2020-04-18
1684       CT 2020-04-03
1716       IL 2020-05-01
1730       MN 2020-06-01
1757       KS 2020-07-03
1781       WI 2020-08-01
1786       KY 2020-05-11
1839       VA 2020-05-29
1888       AZ 2020-05-08
1986       TX 2020-05-08
2068       NJ 2020-04-08
2072       AL 2020-05-11
2339       MA 2020-05-06
2407       MS 2020-05-07
2419       ME 2020-05-01
2451       MI 2020-04-26
2460       FL 2020-05-11

In [23]:
df_mask.set_index('date', inplace = True)

df_mask dataset have the state_id and start date of mask mandatory policy of each state

In [24]:
df_mask.head()

           state_id
date
2020-05-11       AR
2020-05-06       NM
2020-04-15       DC
2020-05-01       WY
2020-04-23       CO

In [27]:
df_mask.sort_index(inplace = True)

<ipython-input-27-b1a5cf1331fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mask.sort_index(inplace = True)

In [31]:
df_mask.head()

           state_id
date
2020-04-03       CT
2020-04-08       NJ
2020-04-10       UT
2020-04-15       DC
2020-04-17       VT

In [36]:
df_mask['num'] = np.arange(len(df_mask))+1

<ipython-input-36-33e509606e3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mask['num'] = np.arange(len(df_mask))+1

In [38]:
df_mask

           state_id  num
date
2020-04-03       CT    1
2020-04-08       NJ    2
2020-04-10       UT    3
2020-04-15       DC    4
2020-04-17       VT    5
2020-04-17       NY    6
2020-04-18       RI    7
2020-04-18       MD    8
2020-04-19       PA    9
2020-04-23       CO   10
2020-04-24       AK   11
2020-04-26       MI   12
2020-04-27       GA   13
2020-04-28       ND   14
2020-04-29       OH   15
2020-05-01       DE   16
2020-05-01       NH   17
2020-05-01       IL   18
2020-05-01       IN   19
2020-05-01       ME   20
2020-05-01       LA   21
2020-05-01       WY   22
2020-05-04       NE   23
2020-05-04       WA   24
2020-05-04       WV   25
2020-05-05       CA   26
2020-05-06       MA   27
2020-05-06       NM   28
2020-05-07       MS   29
2020-05-08       TX   30
2020-05-08       AZ   31
2020-05-09       OR   32
2020-05-09       NV   33
2020-05-11       AL   34
2020-05-11       AR   35
2020-05-11       KY   36
2020-05-11       FL   37
2020-05-29       VA   38
2020-06-01       MN   39
2020-06-10       HI   40
2020-06-26       NC   41
2020-07-03       KS   42
2020-07-15       MT   43
2020-08-01       WI   44
2020-08-03       SC   45